[submodule "cse550"]
	path = cse550
	url = /home/vsrinivas/git/cse550
[submodule "cse551"]
	path = cse551
	url = /home/vsrinivas/git/cse551
[submodule "ninja-test"]
	path = ninja-test
	url = http://m-net.arbornet.org/~sv5679/third_party/ninja-test/.git
